:root {
    --red: #FF4B4B;
    --white: #FFF;
    --black: #000;
    --yellow: #FFD700;
    --one-cell: 100px;
    --border-color: rgba(255,255,255,.75);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Input Mono', monospace;
  margin: 0;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}

#animejs-v4-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
}

#logo {
  position: relative;
  overflow: visible;
  width: 72%;
  height: auto;
}

#logo * {
  transform-box: fill-box;
}

#animejs-v4-logo svg#effects {
  display: none;
}

#sub-text {
  font-family: 'PPSupplyMono-Regular', monospace;
  font-size: 18px;
  color: #FFF;
  letter-spacing: 1px;
  text-align: center;
  line-height: 26px;
  white-space: pre;
}

#sub-text span {
  opacity: 0;
  display: inline-block;
}

.particles {
  --size: 17;
  --diameter: 1em;
  --margin: 0em;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.particles div {
  position: relative;
  width: calc(var(--diameter) - var(--margin) * 2);
  height: calc(var(--diameter) - var(--margin) * 2);
  margin: var(--margin);
  background: var(--red);
  mix-blend-mode: plus-lighter;
  box-shadow: 0 0 10px 0 var(--red);
  border-radius: .5rem;
  opacity: .75;
}

.sticky-container {
  height: 400vh;
}

.sticky-content {
  perspective: 1000px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1, h2 {
  font-family: ui-monospace, monospace;
  font-size: min(5vw, 24px);
  max-width: 1000px;
  text-align: center;
}

.stack {
  --w: 22.5vh;
  --h: 30vh;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  transform-style: preserve-3d;
  width: calc(var(--w) * 1);
  height: calc(var(--h) * 1);
  will-change: transform;
}

.card {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transform-origin: 50% 105% 0px;
  box-shadow: 0 .125em .75em 1px rgba(0,0,0,.05),
              0 0 .125em 1px rgba(0,0,0,.1);
}

.card > div {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  border-radius: inherit;
}

.back {
  z-index: 0;
  background-image: url(https://assets.codepen.io/1137/card-back.svg);
  transform: rotateY(180deg);
  background-color: var(--white);
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  background-color: var(--white);
  background-size: 89%;
  background-repeat: no-repeat;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.carousel .draggable {
  padding: 1rem;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
}

.container {
  overflow: hidden;
  width: calc((var(--one-cell) * 3));
  height: calc((var(--one-cell) * 3));
}

.carousel {
  display: flex;
  position: relative;
  overflow: visible;
  width: 100%;
}

.carousel-item {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item:nth-child(even) {
  background-color: var(--yellow);
}

#snap-carousel {
  display: flex;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
}

#snap-carousel .carousel {
  display: flex;
  flex-shrink: 0;
  width: auto;
}

#snap-carousel .carousel-item {
  flex-shrink: 0;
  width: 200px;
  margin-right: 10px;
}

.drawer {
  overscroll-behavior: contain;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: var(--red);
  will-change: transform;
  box-shadow: 0 500px 0 0 var(--red);
  transform: translateY(100%);
}

.drawer-content {
  overflow: auto;
  overscroll-behavior: contain;
  position: relative;
  z-index: 0;
  max-height: calc(100svh - 2rem);
  padding: 3rem 2rem;
}

.drawer-trigger {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 3rem;
  background-color: var(--red);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.drawer-trigger::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 5rem;
  height: .25rem;
  border-radius: .25rem;
  background-color: #FFF;
  transform: translate3d(-50%,-50%, 0);
}

.layered-animations {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  transform: scale(1.75);
}

.layered-animations .shape {
  position: absolute;
  overflow: visible;
  width: 8rem;
  height: 8rem;
  stroke: currentColor;
  fill: transparent;
}

.layered-animations .small.shape {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  stroke-width: 2px;
  fill: currentColor;
}
